*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: black;
}
.div{
    max-width: 100%;
    height: 900px;
    background-color: #2a3155;
    color: white;
}

/* navbaer-section */
.men-nav{
    position: fixed;
}
.logo{
    width: 80px;
}
.nav-div ul li a{
    color: black;
}
.nav-navigetion{
    padding-left: 100px;
}

.heding-1{
    padding-top: 80px;
    margin-left: 200px;
}
.heding-2{
    font-size: x-small;
    margin-left: 200px;
}
.detels{
    width: 60%;
    height:100px ;
    background-color: white;
    margin-left: 13%;
}
@media screen and(max-width:600px) {
    .conter-2{
        margin-top: 100px;
    }

}